.admin-bar{
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(53, 52, 58);
    display: flex;
    justify-content: space-around;
    position: fixed;
    width:100%;
    z-index: 11;
    color: white;
    font-size: 12px;
}

.admin{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.admin span{
    padding-right: 1vw;
}

.admin .icon{
    height: 20px;
    padding-right: 10px;
}

#add-article , #add-player{
    cursor: pointer;
    background: none;
    width: 60px;
    text-decoration: underline;

}

.icon-link,.link, #add-article , #add-player{
    color: white;
    opacity: 0.8;
    padding-right: 10px;
}

.link:hover .icon-link:hover ,.link:hover, #add-article:hover , #add-player:hover{
    opacity: 1;
}

.link:hover .icon-link{
    opacity: 1;
}

.admin.logout{
    text-decoration: none;
    cursor: pointer;
}
