.player-fields-container {
    position: absolute;
    top: 180px;
    width: 100%;
    height: 800px;
    z-index: 10;
}

.player-fields-container form{
    display: flex;
    justify-content: center;
    
}
.player-container {
    padding-top: 3vh;
    display: flex;
    width: 700px; 
    background-color: white;  
}

.flex-labels {
    flex: 1;

}

.flex-inputs {
    flex: 1.5;
}

.label {
    text-align: right;
    width: 100%;
    padding-right: 20px;        
    font-size: 14px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    color: #1a2434;
}

.input {
    width: 100%;
    padding: 4px;
}

.input input {
    font-size: 13px;
    padding: 20px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #931d37;
    color: rgb(75, 75, 75);
}

.select-position{
    width: 49%;
    font-size: 13px;
    height: 41px;
    border-radius: 5px;
    margin-left: 4px;
    color: rgb(75, 75, 75);
    padding-left: 20px;
    border: 1px solid #931d37;
}

.player-fields-options-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.player-fields-options{
    display: flex;
    width: 700px;
    background-color: white;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


